pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_employeesource",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"exists",
						"itemName",
						"itemType",
						"lastModified",
						"size",
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_filemetadata]",
					"storedProcedureParameters": {
						"columncount": {
							"value": {
								"value": "@activity('Get Metadata1').output.columnCount",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"existvalue": {
							"value": {
								"value": "@activity('Get Metadata1').output.exists",
								"type": "Expression"
							},
							"type": "String"
						},
						"itemname": {
							"value": {
								"value": "@activity('Get Metadata1').output.itemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"itemtype": {
							"value": {
								"value": "@activity('Get Metadata1').output.itemType",
								"type": "Expression"
							},
							"type": "String"
						},
						"lastmodified": {
							"value": {
								"value": "@activity('Get Metadata1').output.lastModified",
								"type": "Expression"
							},
							"type": "String"
						},
						"size": {
							"value": {
								"value": "@activity('Get Metadata1').output.size",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"structurevalue": {
							"value": {
								"value": "@string(activity('Get Metadata1').output.structure)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-09-27T12:12:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}